<div>
  <div><p>City name :<%= data.name %></p></div>
  <div><p>City Temp: <%= data.main.temp %></p></div>
  <div><p>Weather Discription : <%= data.weather[0].description %></p></div>

  <div><a href="/">Back to home!</a></div>
</div>
