<body>
  <h1>Zip code form</h1>
  <form method="post" action="/weather/show.ejs">
    <label for="zip">zip code:</label>
    <input type="text" name="zip" id="zip" />
    <button type="submit">submit</button>
  </form>
</body>
